.container {
    padding-top: 15px;
}
.jumbotron {
    width: 100%;
}

.dog {
    width: 100%;
}

#end {
    font-size: 100px;
    color: black;
}

#end-text {
    font-size: 40px;
    color: black;
}

#resources-text {
    font-size: 30px;
    color: black;
}

.card-deck {
    padding-top: 15px;
    padding-bottom: 15px;
}


